body{
  font-family: "Noto Serif JP", serif;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

section {
  min-height: 100vh;
}

.wrapper {
  position: relative;
  margin-right: 300px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #06402bda 40%, #1a4525d5 80%, #074e07d0 100%);
}

.titlepage h2{
  font-family: "Noto Serif JP", serif;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  font-weight: bold;
  color: #c9c4b8;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  position: static; /* reset */
  font-family: "Noto Serif JP", serif;
  font-size: 50px;
  font-weight: bold;
  color: #c9c4b8;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.2; /* prevents vertical overlap */
}


.slide {
  position: fixed;
  position: fixed;
  top: 0;
  right: 0;

  width: 300px;
  height: 100vh;

  padding-top: 50px;
  box-sizing: border-box;

  text-align: center;
  background: #cac7c11e;

  font-size: 30px;
  text-transform: uppercase;
  color: #c9c4b8;
}

a:link {
  font-size: 25px;
  color: #c9c4b8;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:visited {
  color: #c9c4b8 !important;
  text-decoration: none;
}

.sidetitle {
font-weight: bold;
font-size: 40px;
}

.slide ul {
  padding-top: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide li {
  margin-bottom: 10px;;
}

.langselector {
  padding-left: 15px;
  padding-top: 5px;
  font-size: 20px !important;
  color: #c9c4b8;
}



.galleryheader {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #06402bda;
  color: #c9c4b8;
  border-bottom: 4px solid #074e07d0;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}
